.body_info {
    margin-top: 30vh;
  }
  
  .main_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: skyblue;
  }
  
  .main_info {
    display: flex;
    justify-content: space-around;
    color: white;
  }
  
  .front,
  .back,
  .information {
    padding: 60px;
    border: 1px solid white;
  }
  
  .information {
    background-color: rgba(0, 0, 0, 0.7); /* 투명한 배경으로 조절 */
  }

  .github {
    text-decoration: none;
    color: blue
  }