.login_Border {
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin: 20px;
}

.login_title{
        background-image: url(login.png);
        background-repeat: no-repeat;
        width: 62vw;
        height: 60vh;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-shrink: 0;
        text-align: center;
        margin-top: 15vh;
        ;
     
        
    }
    
    .login_title h2,
    .login_title h3,
    .login_title h4{
        margin: 0;
        margin-right: 7vw;
    }

.login_title h2 {
    font-size: 40px;
    color:rgb(201, 194, 85);
    
    
}
.login_title h3{
    font-size: 40px;
    color: white;
    

}
.login_title h4{
    color: #ffda92;
    font-size: 13px;
    
}
.login_title h4 span {
    color: white; 
}


    .login_state {
        background-color: #282828;
        border: 1px solid #282828;
        width: 500px;
        height: 500px;
        border-radius: 30px;
        box-shadow: 10px 10px 100px 50px rgba(112, 102, 89, 0.20);
        color: #ffda92;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8vh;
        flex-direction: column;
        margin-right: 4%;

    }
    input{
        width: 290px;
        height: 35px;
        flex-shrink: 0;
        border-radius: 30px;
        background-color: #ffda92;
        box-shadow: 5px 5px 30px 0px rgba(170,170,170,0.25);
        display: flex;
        justify-self: center;
    

    } 
    input::placeholder{
        color: white;
        font-size: 14px;
    }

    .login_Button button{
        width: 300px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 60px;
        background-color: #ffda92;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
    }
    .line{
        width:270px;
        margin-bottom: 70px;
        height: 1px;
        background-color: #ffda92;

        
    }
    .bottom{
        display: flex;
        width: 800px;
        height: 60px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #797979;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    

    }
    .bottom span{
        color: #b29866;
        margin-left: 5px; 
        margin-right: 5px;
    
    }