/* IntroductionWrite.css */

.introduction-write-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333333;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .submit-button,
  .delete-button {
    padding: 10px;
    font-size: 1em;
    color: white;
    cursor: pointer;
  }
  
  .submit-button {
    background-color: #4caf50;
  }
  
  .delete-button {
    background-color: #f44336;
  }
  